{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "browser": false
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "indent": ["warn", 4],
        "linebreak-style": [
            "warn",
            "windows"
        ],
        "quotes": [
            "warn",
            "double"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "no-empty": "warn",
        "no-cond-assign": [
            "error",
            "always"
        ],
        "strict":"error"
    }
}
